<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Book List</title>
    <div th:replace="common :: head"></div>
</head>
<body>
<div th:replace="common :: header"></div>
<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9  col-lg-9">
        <h5>书籍列表</h5>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3  col-lg-3">
        <a href="/book/add" class="btn btn-link pull-right">添加书籍</a>
    </div>
</div>
<div class="row">
    <form class="form-horizontal" id="bookForm" >
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">书籍名称</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入书籍名称" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">作者</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="author" name="author" placeholder="请输入作者" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">minPrice</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="minPrice" name="minPrice" placeholder="请输入单价" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">maxPrice</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="maxPrice" name="maxPrice" placeholder="请输入单价" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">minTime</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" onclick="WdatePicker({ maxDate:'#F{$dp.$D(\'maxTime\')||\'%y-%M-%d\'}' })" class="input-text Wdate" id="minTime" name="minTime" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">maxTime</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" onclick="WdatePicker({ minDate:'#F{$dp.$D(\'minTime\')}',maxDate:'%y-%M-%d' })" class="input-text Wdate" id="maxTime" name="maxTime" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">类别</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <select class="form-control" name="categoryId" id="categoryId">
                    <option value="">全部</option>
                    <option th:each="category,iterStat  : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">关键词</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="keyWord" name="keyWord" placeholder="请输入关键词">
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-6  col-md-offset-2 col-lg-6 col-sm-lg-2 ">
            <button type="button" id="clearBtn" class="btn btn-primary save">重置</button>
            <button type="button" id="submitBtn" class="btn btn-primary  save">确定</button>
        </div>
    </form>
</div>
<hr/>
<div class="table-responsive">
    <table id="bookTable" class="table table-bordered">
        <thead>
        <tr>
            <th>名称</th>
            <th>作者</th>
            <th>单价</th>
            <th>出版时间</th>
            <th>类别</th>
            <th>关键词</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div th:replace="common :: footer"></div>
<script type="text/javascript" src="/static/js/list.js"></script>
</body>
</html>