<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h2 class="form-signin-heading">Login</h2>
            <label for="username" class="sr-only">username</label>
            <input id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="button" onclick="toLogin()" >Login</button>
        </form>
    </div> <!-- /container -->
</body>
<script type="text/javascript">
    function toLogin(){
        $.ajax({
            url: "/login",
            type: "POST",
            data:{
                username:$("#username").val(),
                password: $("#password").val()
            },
            success:function(data){
                if(data.code == 200){
                    window.location.href = "/book/list1";
                    //window.location.href = "/book/list"; //改用datatables 记得修改delete后的重定向
                }else{
                    console.log(data);
                }
            },
            error:function(){
                console.log(data);
            }
        });
    }
</script>
</html>